* {
  padding: 0;
  margin: 0;
}

#menu_button {
  position: absolute;
  padding: 10px;
  z-index: 99;
  width: 5em;
  font-size: 12px;
  border: none;
}

button {
  cursor: pointer;
  font-family: Arial;
  color: #000;
  font-size: 20px;
  background: #FFF;
  padding: .5em 1em .5em 1em;
  text-decoration: none;
  font-weight: 800;
  width: 10em;
}


#game_over_score_box {
  font-family: Arial;
  color: #000;
  font-size: 20px;
  background: #FFF;
  padding: .5em 0em .5em 0em;
  text-decoration: none;
  font-weight: 800;
  width: 10em;
  display: inline-block;
}

#game_over_score_box div {
  margin-top: .5em;
}

button:hover {
  text-decoration: none;
}

.menu {
  display: none;
  text-align: center;
  background: #000;
}

.menu ul li {
  padding: 1em 1em;
}

.menu h1 {
  color: #FFF;
  font-size: 3em;
  font-family: Arial;
  font-weight: 200;
}
